/* Styling for the form */
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

/* Styling for the response container */
#response-container {
  max-width: 558px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
}

#response-container p {
  margin-bottom: 10px;
}

/* Styling for the intents container */
#intents-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

/* Styling for each intent form */

h3 {
  margin-bottom: 10px;
}

/* Styling for intent response */
.intent-response {
  margin-top: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
}

/* Styling for the left part */
.left-part {
  width: 90%;
  float: left;
}

/* Styling for the query form */
#query-form {
  margin-bottom: 10px;
}

#query-input {
  width: 94%;
  padding: 10px;
}
